<div class="container-fluid">
  <div class="page-centered">
    <div class="logo" >
      <img *ngIf="noEntering" class="logo" src="assets/animations/Ani-1.gif" />
      <img *ngIf="userNameEntering" class="logo" src="assets/animations/Ani-2.gif" />
      <img *ngIf="passwordHide" class="logo" src="assets/animations/Ani-3.gif" />
      <img *ngIf="passwordShown" class="logo" src="assets/animations/Ani-4.gif" />
    </div>
    <h1 class="login-h1">Login to your Account</h1>
    <form>
      <div class="form-group">
        <input type="text" placeholder="Username" name="userName" [(ngModel)]="userName" (keyup)="inputval()"
          class="form-control form-input" name="userName">
      </div>
      <div class="form-group">
        <input [type]="passwordType" placeholder="Password" name="password" [(ngModel)]="password"
          (keyup)="passwordEnter()" class="form-control form-input" name="password">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="passwordShown" (click)="togglePassword()"
          id="defaultCheck1" name="passwordShown">
        <label class="form-check-label" for="defaultCheck1">
          Show password
        </label>
      </div>
      <input type="submit" (click)="clear()" class="form-submit" value="Log In">
    </form>
  </div>
</div>
